@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .btn-primary {
    @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }
  .list-style{
    @apply hover:bg-blue-400 hover:text-white transition-all px-2 py-2 rounded-lg 
   }

   .nav-style{
    @apply border-b-2 border-b-transparent hover:border-b-2  hover:border-[#FF0066] transition-all
   }

   .container{
    @apply max-w-[1240px] mx-auto
   }

   .info-style{
    @apply flex items-center gap-2 text-white text-lg
   }

   .card-style{
    @apply space-y-4  border-2 border-[#FF0066] p-4
   }

   .border-style{
    @apply border-2 border-[#FF0066]
   }
}

.font-mont{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.gradient-background {
  background: linear-gradient(132deg,#567fc7,#3846b2,#e68e7a);
  background-size: 180% 180%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blob{
  height: 500px;
  width: 500px;

}

.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}