@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .btn-primary {
    @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }
  .list-style{
    @apply hover:bg-blue-400 hover:text-white transition-all px-2 py-2 rounded-lg 
   }

   .nav-style{
    @apply border-b-2 border-b-transparent hover:border-b-2  hover:border-white transition-all
   }

   .container{
    @apply max-w-[1240px] mx-auto
   }
}

.font-mont{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.gradient-background {
  background: linear-gradient(132deg,#567fc7,#3846b2,#e68e7a);
  background-size: 180% 180%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blob{
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  width: 250px;
  height: 250px;
  background: rgb(0, 255, 98);
  background-image: linear-gradient(45deg, #3023AE 0%, rgb(0, 255, 98) 100%);
  box-shadow: -10vmin 10vmin 0 rgba(255,255,255,0.07);
  animation: animateBlob 10s linear infinite alternate;
}

.blob {
	width:30vw;
	height:30vw;
	position:relative;
	margin-left:40%;
	
	--time:10s;
	--amount:3;	
	
	img {
		width:100%;
		height:100%;
		object-fit: cover;		
		position:absolute;
	}
	
	svg {
		width:300%;
		height:300%;
		margin-left:-100%;
		margin-top:-100%;
		position:absolute;
		animation:blob-skew calc( var(--time, 30s) * 0.5 ) linear  0s infinite, blob-turn var(--time, 30s) linear infinite;
		transform-origin: center;

		path {
			animation: blob-scale calc( var(--time, 30s) * 0.5 ) ease-in-out 0s infinite;
			transform-origin: center;			
		}

	}	
		
}


@keyframes blob-turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blob-skew {
  0% {
    transform: skewY(0deg);
  }
  13% {
    transform: skewY( calc( (1.8deg) * var(--amount, 2)) );
  }
  18% {
    transform: skewY( calc( (2.2deg) * var(--amount, 2)) );
  }
  24% {
    transform: skewY( calc( (2.48deg) * var(--amount, 2)) );
  }
  25% {
    transform: skewY( calc( (2.5deg) * var(--amount, 2)) );
  }
  26% {
    transform: skewY( calc( (2.48deg) * var(--amount, 2)) );
  }
  32% {
    transform: skewY( calc( (2.2deg) * var(--amount, 2)) );
  }
  37% {
    transform: skewY( calc( (1.8deg) * var(--amount, 2)) );
  }
  50% {
    transform: skewY(0deg);
  }
  63% {
    transform: skewY( calc( (-1.8deg) * var(--amount, 2)) );
  }
  68% {
    transform: skewY( calc( (-2.2deg) * var(--amount, 2)) );
  }
  74% {
    transform: skewY( calc( (-2.48deg) * var(--amount, 2)) );
  }
  75% {
    transform: skewY( calc( (-2.5deg) * var(--amount, 2)) );
  }
  76% {
    transform: skewY( calc( (-2.48deg) * var(--amount, 2)) );
  }
  82% {
    transform: skewY( calc( (-2.2deg) * var(--amount, 2)) );
  }
  87% {
    transform: skewY( calc( (-1.8deg) * var(--amount, 2)) );
  }
  100% {
    transform: skewY(0deg);
  }
}

@keyframes blob-scale {
  0% {
    transform: scaleX(.9) scaleY(1);
  }
  25% {
    transform: scaleX(.9) scaleY(.9);
  }
  50% {
    transform: scaleX(1) scaleY(.9);
  }
  75% {
    transform: scaleX(.9) scaleY(.9);
  }
  100% {
    transform: scaleX(.9) scaleY(1);
  }
}